{% extends "::layout.html.twig" %}

{% block title %}Ajouter une entreprise{% endblock %}
{% block titre %}Ajouter une entreprise{% endblock %}
{% set liensFilAriane = [ {'url': url('accueil'), 'libelle':'accueil'}, {'url': url('entreprise_index'), 'libelle':'entreprises'}, {'url': '', 'libelle':'Ajouter une entreprise'}] %}
{% block contenu %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="text-center"><button class="btn btn-outline-primary" type="submit">Ajouter</button></div>
    {{ form_end(form) }}
{% endblock %}
