.categorie{
	/* background: #ecf0f1; */
	display: inline-block;
	box-shadow: 0px 0px 5px #c1c1c1;
	margin: 6px;
	/* border-radius: 10px; */
	position: relative;
}

.categorie img{
	max-height: 100%;
	max-width: 100%;
}

.categorie .contImage{
	/* background: green; */
	width: 200px;
	height: 200px;
}
.iconValid{
	color: #2ecc71;
    position: absolute;
    top: 10px;
    right: 10px;
}
.topRight{
	top: -2px;
	right: 3px;
	position: absolute;
}

.bareNiveau{
	top: 0px;
	left: 0px;
	position: absolute;
	height: 100%;
	display: inline-block;
	background: #2ecc71;
	/* background: #363435; */
}
.niveau{
	width: 100%;
	/* background: #363435; */
	/* border: 1px solid #cecece; */
	/* height: 16px; */
	position: absolute;
	top: 0px;
	left: 0px;
	color: #363435;
	/* color: #2ecc71; */
	padding: 2px;
	padding-right: 10px;
	background: #f1f1f1;
	/* background: #2ecc71; */
	box-shadow: 0px 0px 6px #bfbfbf inset;
}