<div class="text-center">
    {% for t in types %}
    <a href="{{url(t.root)}}">
    <table class="categorie">
        <tr>
            <td class="contImage">
                <i class="fa {{t.icon}} fa-3x"></i>
            </td>
        </tr>
        <tr>
            <td>
                {{t.libelle|capitalize}}
            </td>
        </tr>
    </table></a>
    {% endfor %}
</div>