{% extends "::base.html.twig" %}

{% block title %}AppBundle:Accueil:accueil{% endblock %}

{% block body %}
<h1>Welcome to the Accueil:accueil page</h1>

<a href="{{url('tracabilite_index')}}">Traçabilité</a>
<a href="{{url('temperature_index')}}">Temperature</a>


{% endblock %}
