{% extends "::layout.html.twig" %}

{% block title %}Modifier un utilisateur{% endblock %}
{% block titre %}Modifier un utilisateur{% endblock %}
{% if is_granted('ROLE_ADMIN') %}
	{% set liensFilAriane = [ {'url': url('accueil'), 'libelle':'accueil'}, {'url': url('utilisateur_index'), 'libelle':'utilisateurs'}, {'url': '', 'libelle':'modifier '~utilisateur}] %}
{% else %}
	{% set liensFilAriane = [ {'url': url('accueil'), 'libelle':'accueil'}, {'url': url('utilisateur_salaries'), 'libelle':'salariés'}, {'url': '', 'libelle':'modifier '~utilisateur}] %}
{% endif %}
{% block contenu %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="text-center"><button class="btn btn-outline-primary" type="submit">Modifier</button></div>
    {{ form_end(edit_form) }}
{% endblock %}
