{% extends "::layout.html.twig" %}

{% block title %}Ajouter un utilisateur{% endblock %}
{% block titre %}Ajouter un utilisateur{% endblock %}
{% if is_granted('ROLE_ADMIN') %}
	{% set liensFilAriane = [ {'url': url('accueil'), 'libelle':'accueil'}, {'url': url('utilisateur_index'), 'libelle':'utilisateurs'}, {'url': '', 'libelle':'ajouter un utilisateur'}] %}
{% else %}
	{% set liensFilAriane = [ {'url': url('accueil'), 'libelle':'accueil'}, {'url': url('utilisateur_salaries'), 'libelle':'salariés'}, {'url': '', 'libelle':'ajouter un salarié'}] %}
{% endif %}
{% block contenu %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="text-center"><button class="btn btn-outline-primary" type="submit">Ajouter</button></div>
    {{ form_end(form) }}
{% endblock %}
